---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'helvetica neue', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.leftSidebarLanding {
  height: 100vh;
  width: 30%;
  float: left;
  // background-color: #ABA6A2;
  // background-color: #C1BEBC;
  background-color: #B5B3B1;
  .logo {
    margin-top: 3%;
    margin-left: 11%;
    .imgLogo {
      height: 80px;
      width: 80px;
    }
    .imgName {
      height: 80px;
      position: relative;
      margin-left: -5px;
    }
  }
}

.leftSidebarMain {
  height: 100vh;
  width: 20%;
  float: left;
  // background-color: #ABA6A2;
  background-color: #C1BEBC;
  .logo {
    margin-top: 6%;
    margin-left: 8%;
    .imgLogo {
      height: 60px;
      width: 60px;
    }
    .imgName {
      height: 60px;
      position: relative;
      margin-left: -5px;
    }
  }
}

.aboutTextbox {
  height: 51%;
  width: 80%;
  background-color: #F9F8F7;
  margin-left: 10%;
  margin-top: 8%;
  .aboutText {
    font-size: .8rem;
    line-height: 1.2rem;
    padding: 5% 5%;
    text-align: left;
  }
}

.mainTextbox {
  margin-left: 12%;
  margin-top: 5%;
  width: 75%;
  .mainText {
    color: white;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 0 0;
    text-align: center;
  }
  .boldText {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.sidebarMenu {
  padding-top: 2%;
  margin-left: 10%;
  .sidebarTabs {
    height: 27px;
    width: 202px;
    background: -webkit-linear-gradient(left, #cc0a4a 0%,#ff0073 100%);
    margin: 0;
  }
  .sidebarMenuText {
    color: white;
    color: #C1BEBC;
    text-align: left;
    padding-left: 5%;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .sidebarTabs:hover {
    .sidebarMenuText {
      cursor: pointer;
      a {
        color: #2F2E2C;
        font-weight: bolder;
      }
    }
  }
}

.mainSidebarMenu {
  margin-left: 12%;
  .mainSidebarTabs {
    width: 83%;
  }
}

.aboutImg {
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
}

.mainImg {
  width: 72%;
  margin-top: 10%;
  margin-left: 12%;
}

.rightSidebarLanding {
  height: 100vh;
  width: 70%;
  float: right;
  background-color: #2F2E2C;
  .imgMain {
    height: 100%;
    width: 100%;
    // margin-top: 4%;
    position: relative;
    img {
      height: 80%;
      width: 100%;
    }
    .imgOverlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .7);
    }
  }
}

.wordCloudMain {
  background-image: url("../images/portfolioLandingImg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.rightSidebarMain {
  height: 100vh;
  width: 80%;
  float: right;
  background-color: #2F2E2C;
}

.socialIcons {
  text-align: right;
  margin-right: 3%;
  margin-top: 2.5%;
  ul>li {
    display: inline;
    list-style: none;
    a {
      color: #cc0a4a;
      text-decoration: none;
      padding-right: 1%;
      font-size: 23px;
    }
    a:hover {
      color: #F9F8F7;
    }
  }
}

.overlayText {
  color: white;
  width: 35%;
  position: absolute;
  top: 63%;
  left: 62%;
}

.tabs {
  height: 30px;
  width: 200px;
  // background-color: #E90071;
  background: -webkit-linear-gradient(left, #cc0a4a 0%,#ff0073 100%);
  position: relative;
  margin: 4%;
  margin-left: 22%;
  .tabText {
    position: absolute;
    top: -12px;
    left: 72px;
    color: white;
    opacity: 0.3;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .blog {
    left: 78px;
  }
}

.tabs:hover {
  .tabText {
    cursor: pointer;
    opacity: 1;
  }
}

.menuTabs {
  padding-top: 14%;
}

.aboutBox {
  height: 85%;
  width: 90%;
  margin: 2% 5%;
  border: solid 1px #ff0073;
  padding: 5px;
  background-clip: content-box; /* support: IE9+ */
  background-color: #F9F8F7;
  overflow-y: scroll;
  .aboutTitle {
    color: #cc0a4a;
    text-align: center;
  }
  .aboutBoxText {
    color: black;
    padding: 1% 6%;
  }
  .skillsSection {
    margin-left: 6%;
    .aboutSkills {
      float: left;
      width: 40%;
      p {
        line-height: .8;
        color: black;
      }
      .skills {
        font-size: 1.2rem;
        color: #cc0a4a;
      }
    }
  }
}
