---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/backgroundPattern1.png");
  background-position: center;
  background-size:  contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.innerbody {
  // height: 570px;
  overflow: hidden;
  width: 90%;
  margin: 2%;
  margin-left: 5.4%;
  margin-top: 3.9%;
  background-color: white;
  // border-radius: 5px;
}

.topNavMobile {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  ul {
    margin-bottom: 0;
    li {
      display: none;
      list-style: none;
      a {
        color: #4B4949;
        text-decoration: none;
        margin-right: 4%;
        padding-bottom: 5px;
        font-size: 11px;
      }
      .active {
        color: #c7b157;
        border-bottom: 3px solid #c7b157;
      }
      a:hover {
        color: #c7b157;
        transition: color .3s linear;
        border-bottom: 3px solid #c7b157;
      }
    }
  }
}

.topNavLeft {
  // text-align: left;
  clear: both;
  float: left;
  width: 50%;
  margin-left: 3%;
  // margin-top: 10%;
  padding-top: 5px;
  ul {
    margin-bottom: 0;
    li {
      display: inline;
      list-style: none;
      a {
        color: #4B4949;
        text-decoration: none;
        margin-right: 4%;
        padding-bottom: 5px;
        font-size: 13px;
      }
      .active {
        color: #c7b157;
        border-bottom: 3px solid #c7b157;
      }
      a:hover {
        color: #c7b157;
        transition: color .5s linear;
        border-bottom: 3px solid #c7b157;
        // transition: border .3s linear;
      }
    }
  }
}

.landingNav, .topNav {
  // text-align: right;
  float: right;
  width: 40%;
  text-align: right;
  margin-right: 4%;
  // margin-top: 10%;
  padding-top: 5px;
  ul {
    margin-bottom: 0;
    li {
      display: inline;
      list-style: none;
      a {
        color: #4B4949;
        text-decoration: none;
        margin-right: 4%;
        padding-bottom: 5px;
        font-size: 13px;
      }
      .active {
        color: #c7b157;
        border-bottom: 3px solid #c7b157;
      }
      a:hover {
        color: #c7b157;
        transition: color .5s linear;
        border-bottom: 3px solid #c7b157;
        // transition: border .3s linear;
      }
    }
  }
}

.titleBox {
  clear: both;
  margin: 0 auto;
  // margin-top: 2%;
  .title {
    color: #c7b157;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1%;
    font-weight: normal;
    font-size: 2.5rem;
  }
  .titleText {
    color: #4B4949;
    font-size: .95rem;
    line-height: 1.5rem;
    padding: 0 0;
    margin-top: 0;
    text-align: center;
    font-weight: bolder;
  }
  .boldText {
    font-size: 1.3rem;
  }
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
    padding: 2%;
    padding-top: 1%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1%;
  .categoryItem {
    width: 180px;
    height: 270px;
    text-align: center;
    object-fit: cover;
    margin: 2.5%;
    cursor: pointer;
    a>img {
      width: 100%;
      height: 100%;
    }
    .categoryTitle {
      color: white;
      text-align: center;
      margin-top: 50%;
      font-weight: normal;
    }
  }
}

.footerContainer {
  margin: 0 auto;
}

.copyrightFooter {
  text-align: center;
  .copyrightText {
    color: #4B4949;
    font-size: .5rem;
  }
}

.socialIconsFooter {
  text-align: center;
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      display: inline;
      list-style: none;
      a {
        color: #4B4949;
        text-decoration: none;
        padding-right: 1%;
        font-size: 20px;
      }
      a:hover {
        color: #c7b157;
        transition: color .5s linear;
      }
    }
  }
}


// ABOUT PAGE
.aboutSection {
  margin: 2% 10%;
  margin-top: 4.7%;
  .aboutSectionTitle {
    color: #c7b157;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 10%;
    font-weight: normal;
    font-size: 2.5rem;
  }
  hr {
    width: 60%;
    text-align: center;
    color: #c7b157;
    background-color: #c7b157;
    border-color: #c7b157;
  }
  .aboutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // align-items: center;
  .aboutSectionPic {
    // float: left;
    // width: 38.5%;
    width: 330px;
    padding-left: 3%;
    padding-top: 3.5%;
    .aboutSectionImg {
      width: 100%;
    }
  }
  .aboutSectionSkills {
    // float: right;
    // width: 45%;
    width: 415px;
    padding-right: 2%;
    // padding-left: 1%;
    padding-top: 1%;
    .aboutSkillsText {
      width: 100%;
      p {
        color: #4B4949;
        font-size: .95rem;
        font-weight: bolder;
        text-align: justify;
      }
      .skills {
        font-size: 1rem;
        font-weight: bolder;
        color: #c7b157;
      }
    }
  }
}
  .aboutSectionText {
    // clear: both;
    color: #4B4949;
    padding: 1% 6%;
    font-weight: bolder;
    text-align: justify;
    a {
      color: #4B4949;
      .aboutLink {
      font-weight: bolder;
      }
    }
    a:hover {
      color: #c7b157;
      cursor: pointer;
    }
  }
}

// Individual Projects/Work Section
.workSection {
  margin-top: 4.7%;
  margin-bottom: 5%;
  margin-left: 6%;
  margin-right: 6%;
  .workSectionTitle {
    color: #c7b157;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 7%;
    font-weight: normal;
    font-size: 2.5rem;
  }
}

.workSubTitle {
  font-size: 1.3rem;
  color: #c7b157;
  padding-left: 4%;
  margin: 0;
  margin-bottom: 0.5%;
}
.workBlurb {
  color: #4B4949;
  padding: 0 4%;
  margin: 0;
  text-align: justify;
  a {
    text-decoration: none;
    .linkText {
     color: #c7b157;
    }
  }
}
.workSectionSubTitle {
  text-align: center;
}

.projectLeft {
  float: left;
  width: 60%;
  padding-left: 1.5%;
}
.projectRight {
  float: right;
  width: 34%;
  padding-right: 2%;
}
br {
  clear: both;
}

.linkNextSection {
  display: block;
  text-align: center;
}
.linkNext {
  text-decoration: none;
  display: inline;
  color: #c7b157;
}
.linkNext:hover {
  color: #4B4949;
}



.leftSidebarLanding {
  height: 100vh;
  width: 30%;
  overflow: hidden;
  float: left;
  // background-color: #ABA6A2;
  // background-color: #C1BEBC;
  background-color: #B5B3B1;
  // background-color: #CECECE;
  // background-color: #9a9998;
  .logo {
    margin-top: 3%;
    margin-left: 11%;
    .imgLogo {
      height: 24%;
      width: 24%;
    }
    .imgName {
      height: 30%;
      width: 49%;
      position: relative;
      margin-left: -5px;
    }
  }
}

.leftSidebarMain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  overflow: hidden;
  float: left;
  // background-color: #ABA6A2;
  // background-color: #C1BEBC;
  background-color: #B5B3B1;
  // background-color: #9a9998;
  .logo {
    margin-top: 6%;
    margin-left: 8%;
    .imgLogo {
      height: 60px;
      width: 60px;
    }
    .imgName {
      height: 60px;
      position: relative;
      margin-left: -5px;
    }
  }
}

.aboutTextbox {
  // height: 51%;
  width: 80%;
  background-color: #F9F8F7;
  margin-left: 10%;
  margin-top: 8%;
  .aboutText {
    font-size: .8rem;
    line-height: 1.2rem;
    padding: 5% 5%;
    text-align: left;
  }
}

.mainTextbox {
  margin-left: 12%;
  margin-top: 5%;
  width: 75%;
  .mainText {
    color: white;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 0 0;
    text-align: center;
  }
  .boldText {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.sidebarMenu {
  padding-top: 2%;
  margin-left: 10%;
  .sidebarTabs {
    // height: 27px;
    // width: 202px;
    // height: 2%;
    width: 89%;
    background: -webkit-linear-gradient(left, #cc0a4a 0%,#ff0073 100%);
    // background-color: #e4a527;
    margin: 0;
  }
  .active {
    background: -webkit-linear-gradient(left, #ff0073 0%,#ff0073 100%);
    .sidebarMenuText {
      a{
        color: #2F2E2C;
      }
    }
  }
  .sidebarMenuText {
    // color: white;
    // color: #C1BEBC;
    text-align: left;
    padding-left: 5%;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .sidebarTabs:hover {
    background: -webkit-linear-gradient(left, #ff0073 0%,#ff0073 100%);
    // transition: background .8s linear;
    .sidebarMenuText {
      cursor: pointer;
      a {
        color: #2F2E2C;
        // transition: color .3s linear;
      }
    }
  }
}

.mainSidebarMenu {
  margin-left: 12%;
  .mainSidebarTabs {
    width: 83%;
  }
}

.aboutImg {
  width: 80%;
  margin-left: 10%;
  margin-top: 9%;
}

.mainImg {
  width: 72%;
  margin-top: 14%;
  margin-left: 12%;
}

.rightSidebarLanding {
  height: 100vh;
  width: 70%;
  // overflow: hidden;
  float: right;
  background-color: #2F2E2C;
  // background-color: #EAEAEA;
  .wordCloudLanding {
    background-image: url("../images/portfolioLanding.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.rightSidebarMain {
  // height: 100%;
  width: 80%;
  // overflow: hidden;
  float: right;
  background-color: #EAEAEA;
  // background-color: #E2E1E0;
  // background-color: #2F2E2C;
  // background-color: #EAE9E8;
  // background-color: #DDDCDB;
}

.rightSidebarBlog {
  height: 100vh;
  width: 80%;
  float: right;
  background-color: #EAEAEA;
}

.socialIcons {
  text-align: right;
  margin-right: 4%;
  margin-top: 2.5%;
  ul>li {
    display: inline;
    list-style: none;
    a {
      color: #cc0a4a;
      text-decoration: none;
      padding-right: 1%;
      font-size: 23px;
    }
    a:hover {
      // color: #2f2e2c;
      color: #B5B3B1;
      transition: color .5s linear;
    }
  }
}

.socialIconsMobile {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 5px;
  display: none;
  ul>li>a:hover {
    color: white;
    transition: color .5s linear;
  }
}

.socialIconsProjects {
  margin-right: 3%;
  ul>li>a:hover {
    color: #2F2E2C;
    transition: color .5s linear;
  }
}

.socialIconsMain {
  // margin-right: 3%;
  ul>li>a:hover {
    color: #2F2E2C;
    transition: color .5s linear;
  }
}

.projectBox {
  margin: 2% 3%;
  margin-top: 4.7%;
  margin-left: 3.5%;
  height: 100%;
  overflow: hidden;
  background-color: #F9F8F7;
  .projectTitle {
    color: #cc0a4a;
    padding-top: 0.5%;
    padding-left: 4%;
    // margin: 0;
    // margin-top: 2%;
    margin-bottom: 1%;
  }
 }

 .projectSubTitle {
   font-size: 1.3rem;
   color: #cc0a4a;
   padding-left: 4%;
   margin: 0;
   margin-bottom: 0.5%;
 }
 .projectBlurb {
   color: black;
   padding: 0 4%;
   margin: 0;
   text-align: justify;
 }
 a {
   text-decoration: none;
 }
 .boldText {
  color: #cc0a4a;
 }

.projectBox {
  .projectLeft {
    float: left;
    width: 60%;
    padding-left: 1.5%;
  }
  .projectRight {
    float: right;
    width: 34%;
    padding-right: 2%;
  }
 }

 .projectImagesLHalf {
   clear: both;
   float: left;
   width: 49%;
   padding-left: 2%;
   img {
     width: 87.5%;
     margin-left: 3.5%;
   }
 }

 .projectImagesRHalf {
   float: right;
   width: 49%;
  //  padding-left: .2%;
   img {
     width: 87.5%;
    //  margin-left: 1%;
   }
 }

 .projectImagesLeft {
   clear: both;
   float: left;
   width: 60%;
   padding-left: 2%;
   img {
     width: 87.5%;
     margin-left: 3.5%;
   }
 }

 .projectImagesRight {
   float: right;
   width: 35%;
   margin-right: 3%;
   img {
     width: 96%;
   }
 }

.aboutBox {
  clear: both;
  // height: 85%;
  // width: 90%;
  margin: 2% 5%;
  margin-top: 4.7%;
  background-color: #F9F8F7;
  // border: solid 1px #ff0073;
  // padding: 5px;
  // background-clip: content-box; /* support: IE9+ */
  // overflow-y: scroll;
  .aboutTitle {
    color: #cc0a4a;
    text-align: center;
  }
 }

 .aboutBox{
  .aboutBoxText {
    color: black;
    padding: 1% 6%;
    text-align: justify;
  }
  .skillsSection {
    margin-left: 6%;
    .aboutSkills {
      width: 90%;
      p {
        color: black;
      }
      .skills {
        font-size: 1.2rem;
        color: #cc0a4a;
      }
    }
  }
}

// .projectsTitle {
//   color: #cc0a4a;
//   // padding-left: 10%;
//   text-align: center;
//   margin: 0;
// }

.designSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 0 auto;
}

// .individualProjects {
//   height: 220px;
//   width: 270px;
//   h1, h2, p, a {
//     color: white;
//   }
//   a {
//     text-decoration: none;
//     img {
//       height: 200px;
//       width: 250px;
//     }
//   }
// }

.design {
  padding: 3% 3%;
  img {
    height: 200px;
    width: 300px;
    border: 5px solid white;
  }
  .squareImg {
    height: 230px;
  }
  .verticalImg {
    height: 400px;
  }
  .greyBorder {
    border: 5px solid #EAEAEA;
  }
}

.projectsSection {
  margin-top: 4.7%;
  margin-bottom: 5%;
  margin-left: 5%;
  .projectSectionTitle {
    color: #c7b157;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 10%;
    font-weight: normal;
    font-size: 2.5rem;
  }
  .projectItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    // height: 250px;
    width: 88%;
    margin: 2%;
    margin-left: 5%;
    .projectImg {
      clear: both;
      // float: left;
      // width: 32%;
      width: 300px;
      // background-color: grey;
      img {
        height: 170px;
        width: 240px;
        margin: 10%;
        margin-top: 12.5%;
      }
    }
    .projectText {
      // float: right;
      text-align: right;
      // width: 68%;
      width: 650px;
      margin-top: 2%;
      // background-color: pink;
      p {
          margin-right: 5.5%;
          margin-left: 1%;
          text-align: justify;
          color: #4B4949;
          font-weight: bolder;
          a {
            color: #4B4949;
            .projectLink {
            font-weight: bold;
            font-size: 1.1rem;
            color: #c7b157;
            }
          }
          a:hover {
            // color: #c7b157;
            padding-bottom: 3px;
            border-bottom: 3px solid #c7b157;
            // transition: border .3s linear;
          }
      }
    }
  }
}

.projectsSection, .workSection{
  hr {
    width: 60%;
    text-align: center;
    color: #c7b157;
    background-color: #c7b157;
    border-color: #c7b157;
  }
}

.landingPage {
  img {
    // height: 80%;
    width: 92%;
    margin-left: 4%;
  }
}

.research {
  img {
    // height: 80%;
    width: 92%;
    margin-left: 4%;
  }
}

.logoProcess {
  img {
    // height: 60%;
    width: 92%;
    margin-left: 4%;
  }
}

.projectImages {
  margin-left: 4%;
  img {
    // height: 50%;
    width: 96%;
  }
}

// media queries
@media (min-width: 479px) and (max-width: 768px) {

  .projectLeft {
    clear: both;
    float: none;
    width: 100%;
  }
  .projectRight {
    float: none;
    width: 100%;
  }

  .topNavLeft {
    display: none;
  }

  .topNav {
    display: none;
  }

  .landingNav {
    width: 100%;
  }

  .topNavMobile {
    ul {
      li {
        display: inline;
        a {
          font-size: 12px;
        }
      }
    }
  }

  .titleBox {
    .title {
      margin-top: 10%;
      font-size: 2.2rem;
    }
    .titleText {
      font-size: .9rem;
    }
      .boldText {
        font-size: 1.2rem;
      }
  }

  .projectsSection {
    .projectSectionTitle {
      font-size: 2.2rem;
      margin-top: 14%;
    }
  }

  .aboutSection {
    .aboutSectionTitle {
      font-size: 2.2rem;
      margin-top: 14%;
    }
  }

}


@media (max-width: 479px){

  .projectLeft {
    clear: both;
    float: none;
    width: 100%;
  }
  .projectRight {
    float: none;
    width: 100%;
  }

  .topNavLeft {
    display: none;
  }

  .topNav {
    display: none;
  }

  .landingNav {
    width: 100%;
  }

  .topNavMobile {
    ul {
      li {
        display: inline;
      }
    }
  }

  .titleBox {
    width: 91%;
    .title {
      margin-top: 17%;
      font-size: 1.8rem;
    }
    .titleText {
      font-size: .9rem;
    }
    .boldText {
      font-size: 1.1rem;
    }
  }

  .projectsSection {
    .projectSectionTitle {
      font-size: 2rem;
      margin-top: 20%;
    }
  }

  .aboutSection {
    .aboutSectionTitle {
      font-size: 2rem;
      margin-top: 20%;
    }
  }

}
