---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'helvetica neue', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.leftSidebarLanding {
  height: 100vh;
  width: 30%;
  overflow: hidden;
  float: left;
  // background-color: #ABA6A2;
  // background-color: #C1BEBC;
  background-color: #B5B3B1;
  // background-color: #9a9998;
  .logo {
    margin-top: 3%;
    margin-left: 11%;
    .imgLogo {
      height: 24%;
      width: 24%;
    }
    .imgName {
      height: 30%;
      width: 49%;
      position: relative;
      margin-left: -5px;
    }
  }
}

.leftSidebarMain {
  height: 100vh;
  width: 20%;
  overflow: hidden;
  float: left;
  // background-color: #ABA6A2;
  // background-color: #C1BEBC;
  background-color: #B5B3B1;
  // background-color: #9a9998;
  .logo {
    margin-top: 6%;
    margin-left: 8%;
    .imgLogo {
      height: 60px;
      width: 60px;
    }
    .imgName {
      height: 60px;
      position: relative;
      margin-left: -5px;
    }
  }
}

.aboutTextbox {
  // height: 51%;
  width: 80%;
  background-color: #F9F8F7;
  margin-left: 10%;
  margin-top: 8%;
  .aboutText {
    font-size: .8rem;
    line-height: 1.2rem;
    padding: 5% 5%;
    text-align: left;
  }
}

.mainTextbox {
  margin-left: 12%;
  margin-top: 5%;
  width: 75%;
  .mainText {
    color: white;
    font-size: .9rem;
    line-height: 1.5rem;
    padding: 0 0;
    text-align: center;
  }
  .boldText {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.sidebarMenu {
  padding-top: 2%;
  margin-left: 10%;
  .sidebarTabs {
    // height: 27px;
    // width: 202px;
    // height: 2%;
    width: 89%;
    background: -webkit-linear-gradient(left, #cc0a4a 0%,#ff0073 100%);
    margin: 0;
  }
  .sidebarMenuText {
    color: white;
    color: #C1BEBC;
    text-align: left;
    padding-left: 5%;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .sidebarTabs:hover {
    background: -webkit-linear-gradient(left, #ff0073 0%,#ff0073 100%);
    // transition: background .8s linear;
    .sidebarMenuText {
      cursor: pointer;
      a {
        color: #2F2E2C;
        // transition: color .3s linear;
      }
    }
  }
}

.mainSidebarMenu {
  margin-left: 12%;
  .mainSidebarTabs {
    width: 83%;
  }
}

.aboutImg {
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
}

.mainImg {
  width: 72%;
  margin-top: 10%;
  margin-left: 12%;
}

.rightSidebarLanding {
  height: 100vh;
  width: 70%;
  // overflow: hidden;
  float: right;
  // background-color: #2F2E2C;
  background-color: #EAEAEA;
  .wordCloudLanding {
    background-image: url("../images/portfolioLandingImg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.rightSidebarMain {
  height: 100vh;
  width: 80%;
  float: right;
  background-color: #EAEAEA;
  // background-color: #E2E1E0;
  // background-color: #2F2E2C;
  // background-color: #EAE9E8;
  // background-color: #DDDCDB;
}

.socialIcons {
  text-align: right;
  margin-right: 3%;
  margin-top: 2.5%;
  ul>li {
    display: inline;
    list-style: none;
    a {
      color: #cc0a4a;
      text-decoration: none;
      padding-right: 1%;
      font-size: 23px;
    }
    a:hover {
      color: #2f2e2c;
      transition: color .5s linear;
    }
  }
}

.socialIconsMobile {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 5px;
  display: none;
  ul>li>a:hover {
    color: white;
    transition: color .4s linear;
  }
}

// .socialIconsMain {
//   ul>li>a {
//     color: lightgrey;
//   }
//   ul>li>a:hover {
//     color: #B5B3B1;
//     transition: color .4s linear;
//   }
// }

.aboutBox {
  height: 85%;
  width: 90%;
  margin: 2% 5%;
  background-color: #F9F8F7;
  border: solid 1px #ff0073;
  padding: 5px;
  background-clip: content-box; /* support: IE9+ */
  overflow-y: scroll;
  .aboutTitle {
    color: #cc0a4a;
    text-align: center;
  }
 }

 .aboutBox{
  .aboutBoxText {
    color: black;
    padding: 1% 6%;
  }
  .skillsSection {
    margin-left: 6%;
    .aboutSkills {
      width: 90%;
      p {
        color: black;
      }
      .skills {
        font-size: 1.2rem;
        color: #cc0a4a;
      }
    }
  }
}

.projectsTitle {
  color: #cc0a4a;
  // padding-left: 10%;
  text-align: center;
  margin: 0;
}

.projectsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 0 auto;
}

// .individualProjects {
//   height: 220px;
//   width: 270px;
//   h1, h2, p, a {
//     color: white;
//   }
//   a {
//     text-decoration: none;
//     img {
//       height: 200px;
//       width: 250px;
//     }
//   }
// }

.project {
  padding: 3% 3%;
  img {
    height: 200px;
    width: 300px;
    border: 5px solid white;
  }
  .squareImg {
    height: 230px;
  }
  .verticalImg {
    height: 400px;
  }
  .greyBorder {
    border: 5px solid #EAEAEA;
  }
}

// media queries
@media (min-width: 768px) and (max-width: 978px) {

}

@media (min-width: 479px) and (max-width: 767px) {
  .rightSidebarLanding {
    clear: both;
    display: none;
  }

  .leftSidebarLanding {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .logo {
      .imgLogo {
        height: 14%;
        width: 14%;
      }
      .imgName {
        height: 13%;
        width: 30%;
      }
      margin-left: 21%;
    }
  }

  .mainImg {
    width: 55%;
    display: block;
    margin: 0 auto;
    margin-top: 8%;
  }

  .mainTextbox {
    margin: 0 auto;
    margin-top: 4%;
    width: 55%;
    .mainText {
      font-size: 1rem;
    }
    .boldText {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  .mainSidebarMenu {
     margin-left: 21%;
    .mainSidebarTabs {
      width: 72%;
    }
  }

  .socialIconsMobile {
    padding-left: 14%;
    display: block;
  }

}

@media (max-width: 479px) {
  .rightSidebarLanding {
    clear: both;
    display: none;
  }

  .leftSidebarLanding {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .logo {
      .imgLogo {
        height: 18%;
        width: 18%;
      }
      .imgName {
        height: 15%;
        width: 38%;
      }
      margin-left: 19%;
    }
  }

  .mainImg {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 8%;
  }

  .mainTextbox {
    margin: 0 auto;
    margin-top: 5%;
    width: 64%;
  }

  .mainSidebarMenu {
     margin-left: 20%;
    .mainSidebarTabs {
      width: 75%;
    }
  }

  .socialIconsMobile {
    padding-left: 10%;
    display: block;
  }

}
